body {
    margin: 0;
    font-family: Arial;
    display: flex;
}

.sidebar {
    width: 200px;
    background: #111;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 20px;
}

.hidden {
    display: none;
}

input, textarea {
    margin: 5px 0;
    padding: 5px;
    width: 200px;
}
