body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #efe2c6;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #ffffff;
    padding: 20px;
    height: 100vh;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    color: #f07f5a;
}

.sidebar button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #f07f5a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar button:hover {
    background: #e06644;
}

/* Content */
.content {
    flex: 1;
    padding: 40px;
}

.section h1 {
    color: #f07f5a;
}

.hidden {
    display: none;
}

/* Vertical Planner Layout */

#timetableGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top: 20px;
}

/* Day Column */
.day-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Class Card */
.class-card {
    background-color: #9cc9e7;
    padding: 12px;
    border-radius: 10px;
    min-height: 100px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 13px;
}


.class-card h4 {
    margin: 0 0 5px 0;
    font-size: 14px;
}

.day-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.slot {
    border: 1px dashed #ccc;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 40px;
    cursor: pointer;
}
.sidebar a {
    display: block;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    background: #f07f5a;
    color: white;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #e06644;
}
