body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #efe2c6;
}

.sidebar {
    width: 220px;
    background: #ffffff;
    padding: 20px;
    height: 100vh;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    color: #f07f5a;
}

.sidebar button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    background: #f07f5a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar button:hover {
    background: #e66a45;
}

.content {
    flex: 1;
    padding: 40px;
}

.section h1 {
    color: #f07f5a;
}

.hidden {
    display: none;
}

/* Timetable Grid */

#timetableGrid {
    display: grid;
    grid-template-columns: 120px repeat(6, 1fr);
    width: 100%;
    margin-top: 20px;
}

.cell {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    min-height: 100px;
    cursor: pointer;
    background-color: white;
}

.header {
    background-color: #f07f5a;
    color: white;
    font-weight: bold;
}

.time {
    background-color: #f9f9f9;
    font-weight: bold;
}
